body{
  margin-bottom: 100px;
  margin-top: 0px;
  font-family: 'PT Sans Caption', sans-serif;
}


h1, h2, h3, h4, ol, ul, p, blockquote {
  width: 700px;
  margin: auto;
}


h1, h2, h3, h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

p, ol, ul {
  font-family: 'PT Sans', sans-serif;
  font-family: PT Sans;
  font-size: 22px;
  line-height: 34px;
}

ol {
  list-style-type: disc;
  padding-left: 10px;
  margin-top: 29px;
}

ol li {
  margin-left: 14px;
}

a {
  text-decoration: underline;
  color:inherit;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  margin-top: 66px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 43px;
}

h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  margin-top: 35px;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 29px;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  margin-top: 17px;
}

h1 + p,
h1 + blockquote,
h1 + img,
h1 + h2,
h1 + h3,
h1 + h4 {
  margin-top: 14px;
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
}

h2 + h3,
h2 + h4,
h2 + img,
h2 + blockquote,
h2 + ol {
  margin-top: 37px;
}

h2 + p,
h3 + p,
h4 + p,
blockquote + p,
.image + p,
ol + p {
  margin-top: 7px;
}

li {
  margin-top: 17px;
}

blockquote{
  position: relative;
  font-family: PT Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-top: 29px;
  z-index: -1;
}
blockquote, q {
	quotes: inherit;
}

blockquote::before{
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: black;
  margin-left: -17px;
}

.image {
  display: block;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

nav {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  display: block;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 30px;
  color: black;
  position: fixed;
  opacity: 50%
}

nav:hover{
  opacity: 100%;
  transition: ease-out 0.2s;
}

nav ol{
  margin: 0px;
  margin-top: 10px;
  list-style: none;
  counter-reset: li;
  padding-left: 0px;
  width: auto;
}

nav a {
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

nav h2 {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 12px;
  margin-top: 0;
}

nav li{
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 13px;
}

nav li::before{
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin: 0;
}

nav ol ol li{
  font-size: 10px;
  line-height: 7px;
  margin-top: 10px;
  opacity: 80%;
  padding-left: 5px;
}

/* nav ol ol{
  margin-left: 5px;
} */

nav ol ol ol li {
  margin-left: 10px;
  opacity: 70%;
  /* padding-left: 10px; */
}
